In [2]:
import pandas as pd

In [3]:
# loading a csv file
data = pd.read_csv("F:\\Machine Learning\\Datasets\\CSV Files\\Covid-19\\countries-aggregated.csv")

In [4]:
"""
When we index by a row, the output is in the form of a table
where the rows of the table represent the column heading of the original table
and the column heading represents the row

Yeah its a bit confusing at first but play around a bit and then you will understand
"""

# indexing by row
data.loc[1234] # returns a table with the contents at row 1234

Date         2021-03-15
Country         Albania
Confirmed        118017
Recovered         81061
Deaths             2060
Name: 1234, dtype: object

In [5]:
# checking the type of the output of row indexing
type(data.loc[1234])

pandas.core.series.Series

In [6]:
"""
Ok when you do set_index and pass in a heading for a column, the output you get is
a table where the heading for each 'row' is the heading you passed into the function

So basically now all rows with the same heading are grouped together
"""
# indexing by column
country_index = data.set_index("Country") # returns a dataframe where the rows are actually the heading
country_index

                   Date  Confirmed  Recovered  Deaths
Country
Afghanistan  2020-01-22          0          0       0
Afghanistan  2020-01-23          0          0       0
Afghanistan  2020-01-24          0          0       0
Afghanistan  2020-01-25          0          0       0
Afghanistan  2020-01-26          0          0       0
...                 ...        ...        ...     ...
Zimbabwe     2022-04-12     247094          0    5460
Zimbabwe     2022-04-13     247160          0    5460
Zimbabwe     2022-04-14     247208          0    5462
Zimbabwe     2022-04-15     247237          0    5462
Zimbabwe     2022-04-16     247237          0    5462

[161568 rows x 4 columns]

In [7]:
# you can query inside the new dataFrame where the rows are now the country name like so
data.set_index("Country").loc["India"]

               Date  Confirmed  Recovered  Deaths
Country
India    2020-01-22          0          0       0
India    2020-01-23          0          0       0
India    2020-01-24          0          0       0
India    2020-01-25          0          0       0
India    2020-01-26          0          0       0
...             ...        ...        ...     ...
India    2022-04-12   43038016          0  521736
India    2022-04-13   43039023          0  521737
India    2022-04-14   43039972          0  521743
India    2022-04-15   43040947          0  521747
India    2022-04-16   43042097          0  521751

[816 rows x 4 columns]

In [8]:
# you can also reset the index like so
country_index.reset_index()

            Country        Date  Confirmed  Recovered  Deaths
0       Afghanistan  2020-01-22          0          0       0
1       Afghanistan  2020-01-23          0          0       0
2       Afghanistan  2020-01-24          0          0       0
3       Afghanistan  2020-01-25          0          0       0
4       Afghanistan  2020-01-26          0          0       0
...             ...         ...        ...        ...     ...
161563     Zimbabwe  2022-04-12     247094          0    5460
161564     Zimbabwe  2022-04-13     247160          0    5460
161565     Zimbabwe  2022-04-14     247208          0    5462
161566     Zimbabwe  2022-04-15     247237          0    5462
161567     Zimbabwe  2022-04-16     247237          0    5462

[161568 rows x 5 columns]

In [13]:
# Using the iloc functions
"""
The .loc function queries data by the row you pass into it,
like data.loc[12] will get the 13th row

or data.loc["India"] will get all rows with India as the row index

but .iloc function is not dependent on the index,
for example: it doesn't make sense for a row to be of index like "India"
it only makes sense to think of row indexes as numbers

and that's what .iloc does, even if you do .set_index on the data and
change the rows index from numbers to dates, or strings etc. the .iloc function will
still take in index's as numbers only
"""
# settings the index of rows to be a string
country_index = data.set_index("Country")
country_index

                   Date  Confirmed  Recovered  Deaths
Country
Afghanistan  2020-01-22          0          0       0
Afghanistan  2020-01-23          0          0       0
Afghanistan  2020-01-24          0          0       0
Afghanistan  2020-01-25          0          0       0
Afghanistan  2020-01-26          0          0       0
...                 ...        ...        ...     ...
Zimbabwe     2022-04-12     247094          0    5460
Zimbabwe     2022-04-13     247160          0    5460
Zimbabwe     2022-04-14     247208          0    5462
Zimbabwe     2022-04-15     247237          0    5462
Zimbabwe     2022-04-16     247237          0    5462

[161568 rows x 4 columns]

In [15]:
# querying based on numerical indexes
country_index.iloc[1221]

Date         2021-03-02
Confirmed        108823
Recovered         71173
Deaths             1835
Name: Albania, dtype: object

In [16]:
# using queries

# you can use queries like so
albania_data = data.query("(Country == 'Albania') & (Date == '2021-06-22')")
albania_data

            Date  Country  Confirmed  Recovered  Deaths
1333  2021-06-22  Albania     132496     129941    2455