In [26]:
import pandas as pd

In [27]:
# reading a csv file
countries_covid_csv = pd.read_csv("F:\\Machine Learning\\Datasets\\CSV Files\\Covid-19\\countries-aggregated.csv")

In [28]:
countries_covid_csv

              Date      Country  Confirmed  Recovered  Deaths
0       2020-01-22  Afghanistan          0          0       0
1       2020-01-23  Afghanistan          0          0       0
2       2020-01-24  Afghanistan          0          0       0
3       2020-01-25  Afghanistan          0          0       0
4       2020-01-26  Afghanistan          0          0       0
...            ...          ...        ...        ...     ...
161563  2022-04-12     Zimbabwe     247094          0    5460
161564  2022-04-13     Zimbabwe     247160          0    5460
161565  2022-04-14     Zimbabwe     247208          0    5462
161566  2022-04-15     Zimbabwe     247237          0    5462
161567  2022-04-16     Zimbabwe     247237          0    5462

[161568 rows x 5 columns]

In [29]:
# converting the Date series in the dataframe to a datatime format series
countries_covid_date = pd.to_datetime(countries_covid_csv["Date"])

In [30]:
countries_covid_date

0        2020-01-22
1        2020-01-23
2        2020-01-24
3        2020-01-25
4        2020-01-26
            ...
161563   2022-04-12
161564   2022-04-13
161565   2022-04-14
161566   2022-04-15
161567   2022-04-16
Name: Date, Length: 161568, dtype: datetime64[ns]

In [31]:
# reading how many unique values are there in the data in the column "country"
countries_covid_csv["Country"].nunique()

198